{% extends "base.html" %}

{% block content %}
<a href="{% url 'expenses:category-create' %}">add</a>

<table border="1">
	<thead>
		<tr>
			<th>name</th>
			<th>amount</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for name,id,amount in expenses_per_category %}
		<tr>
			<td>
				{{name}}
			</td>
			<td>
				{{amount|floatformat:2}}
			</td>
			<td>
				<a href="{% url 'expenses:category-delete' id %}">delete</a>
				<a href="{% url 'expenses:category-update' id %}">update</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
